<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyi.sparrow.assist.system.dao.mapper.ReportErrosMapper">
  <resultMap id="BaseResultMap" type="com.anyi.sparrow.assist.system.domain.ReportErros">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="etc_type_id" jdbcType="BIGINT" property="etcTypeId" />
    <result column="erro_cnt" jdbcType="VARCHAR" property="erroCnt" />
    <result column="erro_code" jdbcType="VARCHAR" property="erroCode" />
    <result column="client_cnt" jdbcType="VARCHAR" property="clientCnt" />
    <result column="erro_count" jdbcType="INTEGER" property="erroCount" />
    <result column="erro_cur_count" jdbcType="INTEGER" property="erroCurCount" />
    <result column="can_handle" jdbcType="TINYINT" property="canHandle" />
    <result column="reason_handle" jdbcType="VARCHAR" property="reasonHandle" />
    <result column="call_center_avail" jdbcType="TINYINT" property="callCenterAvail" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, etc_type_id, erro_cnt, erro_code, client_cnt, erro_count, erro_cur_count, can_handle, 
    reason_handle, call_center_avail, status, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.anyi.sparrow.assist.system.domain.ReportErrosExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from report_erros
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from report_erros
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from report_erros
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.anyi.sparrow.assist.system.domain.ReportErrosExample">
    delete from report_erros
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.anyi.sparrow.assist.system.domain.ReportErros">
    insert into report_erros (id, etc_type_id, erro_cnt, 
      erro_code, client_cnt, erro_count, 
      erro_cur_count, can_handle, reason_handle, 
      call_center_avail, status, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{etcTypeId,jdbcType=BIGINT}, #{erroCnt,jdbcType=VARCHAR}, 
      #{erroCode,jdbcType=VARCHAR}, #{clientCnt,jdbcType=VARCHAR}, #{erroCount,jdbcType=INTEGER}, 
      #{erroCurCount,jdbcType=INTEGER}, #{canHandle,jdbcType=TINYINT}, #{reasonHandle,jdbcType=VARCHAR}, 
      #{callCenterAvail,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.anyi.sparrow.assist.system.domain.ReportErros">
    insert into report_erros
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="etcTypeId != null">
        etc_type_id,
      </if>
      <if test="erroCnt != null">
        erro_cnt,
      </if>
      <if test="erroCode != null">
        erro_code,
      </if>
      <if test="clientCnt != null">
        client_cnt,
      </if>
      <if test="erroCount != null">
        erro_count,
      </if>
      <if test="erroCurCount != null">
        erro_cur_count,
      </if>
      <if test="canHandle != null">
        can_handle,
      </if>
      <if test="reasonHandle != null">
        reason_handle,
      </if>
      <if test="callCenterAvail != null">
        call_center_avail,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="etcTypeId != null">
        #{etcTypeId,jdbcType=BIGINT},
      </if>
      <if test="erroCnt != null">
        #{erroCnt,jdbcType=VARCHAR},
      </if>
      <if test="erroCode != null">
        #{erroCode,jdbcType=VARCHAR},
      </if>
      <if test="clientCnt != null">
        #{clientCnt,jdbcType=VARCHAR},
      </if>
      <if test="erroCount != null">
        #{erroCount,jdbcType=INTEGER},
      </if>
      <if test="erroCurCount != null">
        #{erroCurCount,jdbcType=INTEGER},
      </if>
      <if test="canHandle != null">
        #{canHandle,jdbcType=TINYINT},
      </if>
      <if test="reasonHandle != null">
        #{reasonHandle,jdbcType=VARCHAR},
      </if>
      <if test="callCenterAvail != null">
        #{callCenterAvail,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.anyi.sparrow.assist.system.domain.ReportErrosExample" resultType="java.lang.Long">
    select count(*) from report_erros
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update report_erros
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.etcTypeId != null">
        etc_type_id = #{record.etcTypeId,jdbcType=BIGINT},
      </if>
      <if test="record.erroCnt != null">
        erro_cnt = #{record.erroCnt,jdbcType=VARCHAR},
      </if>
      <if test="record.erroCode != null">
        erro_code = #{record.erroCode,jdbcType=VARCHAR},
      </if>
      <if test="record.clientCnt != null">
        client_cnt = #{record.clientCnt,jdbcType=VARCHAR},
      </if>
      <if test="record.erroCount != null">
        erro_count = #{record.erroCount,jdbcType=INTEGER},
      </if>
      <if test="record.erroCurCount != null">
        erro_cur_count = #{record.erroCurCount,jdbcType=INTEGER},
      </if>
      <if test="record.canHandle != null">
        can_handle = #{record.canHandle,jdbcType=TINYINT},
      </if>
      <if test="record.reasonHandle != null">
        reason_handle = #{record.reasonHandle,jdbcType=VARCHAR},
      </if>
      <if test="record.callCenterAvail != null">
        call_center_avail = #{record.callCenterAvail,jdbcType=TINYINT},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update report_erros
    set id = #{record.id,jdbcType=BIGINT},
      etc_type_id = #{record.etcTypeId,jdbcType=BIGINT},
      erro_cnt = #{record.erroCnt,jdbcType=VARCHAR},
      erro_code = #{record.erroCode,jdbcType=VARCHAR},
      client_cnt = #{record.clientCnt,jdbcType=VARCHAR},
      erro_count = #{record.erroCount,jdbcType=INTEGER},
      erro_cur_count = #{record.erroCurCount,jdbcType=INTEGER},
      can_handle = #{record.canHandle,jdbcType=TINYINT},
      reason_handle = #{record.reasonHandle,jdbcType=VARCHAR},
      call_center_avail = #{record.callCenterAvail,jdbcType=TINYINT},
      status = #{record.status,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.anyi.sparrow.assist.system.domain.ReportErros">
    update report_erros
    <set>
      <if test="etcTypeId != null">
        etc_type_id = #{etcTypeId,jdbcType=BIGINT},
      </if>
      <if test="erroCnt != null">
        erro_cnt = #{erroCnt,jdbcType=VARCHAR},
      </if>
      <if test="erroCode != null">
        erro_code = #{erroCode,jdbcType=VARCHAR},
      </if>
      <if test="clientCnt != null">
        client_cnt = #{clientCnt,jdbcType=VARCHAR},
      </if>
      <if test="erroCount != null">
        erro_count = #{erroCount,jdbcType=INTEGER},
      </if>
      <if test="erroCurCount != null">
        erro_cur_count = #{erroCurCount,jdbcType=INTEGER},
      </if>
      <if test="canHandle != null">
        can_handle = #{canHandle,jdbcType=TINYINT},
      </if>
      <if test="reasonHandle != null">
        reason_handle = #{reasonHandle,jdbcType=VARCHAR},
      </if>
      <if test="callCenterAvail != null">
        call_center_avail = #{callCenterAvail,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.anyi.sparrow.assist.system.domain.ReportErros">
    update report_erros
    set etc_type_id = #{etcTypeId,jdbcType=BIGINT},
      erro_cnt = #{erroCnt,jdbcType=VARCHAR},
      erro_code = #{erroCode,jdbcType=VARCHAR},
      client_cnt = #{clientCnt,jdbcType=VARCHAR},
      erro_count = #{erroCount,jdbcType=INTEGER},
      erro_cur_count = #{erroCurCount,jdbcType=INTEGER},
      can_handle = #{canHandle,jdbcType=TINYINT},
      reason_handle = #{reasonHandle,jdbcType=VARCHAR},
      call_center_avail = #{callCenterAvail,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.anyi.sparrow.assist.system.domain.ReportErrosExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from report_erros
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>