<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.anyi.sparrow.applet.user.mapper.WmCreditScoreMapper">

    <update id="editScore">
        UPDATE wm_credit_score SET  score = score+#{score} , temp_score = temp_score + #{tempScore},update_time = #{dateTime} WHERE id = #{id}
    </update>
</mapper>